{
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "extends": [
  "eslint:recommended",
  "plugin:react/recommended",
  "airbnb"
  ],
  "settings": {
    "react": {

    }
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
      "ecmaVersion": 2018,
      "sourceType"
  },
  "plugins": [
  "react"
  ],
  "rules": {
    "no-await-in-loop": "off",
    "no-restricted-syntax": "off",
    "no-use-before-define": "off",
    "no-console": "off",
    "no-alert": "off",
    "import/no-unresolved": "off",
    "react/no-array-index-key": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": "off",
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "func-names": "off",
    "no-param-reassign": "off",
    "jsx-a11y/anchor-is-valid": "off"
  }
}
