.grid-guide {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  display: grid;
  pointer-events: none;
  user-select: none;
  z-index: 9999;
  max-width: $max-width;
  transform: translateX(-50%);

  & > span {
    background-color: var(--tree-poppy);
    opacity: 0.3;
  }
}
