.styleguide {
  &-main {
    position: relative;
    margin-top: rem(100);

    & > * {
      grid-column: 1 / -1;
    }
  }
}

body.active-grid::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(red, .1) 1%, transparent 99%, red);
  background-size: rem(37.5);
  max-width: rem(1280);
  margin: 0 auto;
  z-index: 9999;

  @include center;

  @include tablet-p {
    background-size: rem(64);
  }

  @include tablet-l {
    background-size: rem(85.3333333333);
  }

  @include desktop {
    background-size: rem(64);
  }
}
