$font: 'Modern Era';

// Modern Era
@font-face {
  font-family: 'Modern Era Light';
  src: url('/fonts/Modern_Era_Light.otf');
}

@font-face {
  font-family: 'Modern Era';
  src: url('/fonts/ModernEra-Regular.otf');
}

@font-face {
  font-family: 'Modern Era Italic';
  src: url('/fonts/ModernEra-Italic.otf');
}

@font-face {
  font-family: 'Modern Era Medium';
  src: url('/fonts/Modern_Era_Medium.otf');
}

@font-face {
  font-family: 'Modern Era Bold';
  src: url('/fonts/Modern_Era_Bold.otf');
}

@font-face {
  font-family: 'Modern Era Black';
  src: url('/fonts/ModernEra-Black.otf');
}
